
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{
  --Red: hsl(0, 100%, 74%) ;
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%); 
  --GrayishBlue: hsl(246, 25%, 77%);
  --LightRed: rgb(247, 4, 4);
  --White: rgb(250, 245, 245);
}

body{
  font-family: "Rubik", serif;;
  background-image: url(/images/bg-intro-desktop.png);
  background-color: var(--Red);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

section{
  padding: 1rem;
}

.page-information{
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.page-information .header{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}

.page-information .paragraph{
  text-align: left;
   font-size: 0.8rem;
  color: var(--White);
  max-width: 25rem;
}

.signup-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.billing-information{
  background-color: var(--Blue);
  width: 80%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--GrayishBlue);
  display: flex;
  justify-content: center;
}

.billing-information span{
  color: var(--White);
}

.terms{
  font-size: 0.56rem;
  text-align: center;
  margin-top: 0.5rem;
  color: var(--GrayishBlue);
  width: 100%;
}

.highlighted-terms{
  font-weight: 800;
  color: var(--LightRed);
}

form{
  background-color: var(--White);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  width: 80%;
}

form input::placeholder{
  font-size: 0.7rem;
}

.form-control{
  font-size: 0.7rem;
  padding: 0.5rem;
  margin-top: -1.9rem;
}

.error-class{
  border: solid var(--LightRed) 0.09rem;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 0.7rem);
  background-size: 5%;
  outline: none;
}

.error-container{
  display: flex;
  margin-top: 0.5rem;
}

.error-message{
  color: var(--LightRed);
  font-size: 0.5rem;
  text-align: left;
  width: 100%;
  text-align: right;
  display: none;
}

form button{
  background-color: var(--Green);
  padding: 0.8rem;
  width: 100%;
  font-weight: 800;
  color: var(--White);
  border: transparent;
  border-radius: 0.2rem;
  font-size: 0.5rem;
}



@media(width < 740px){
 
  .page-information .paragraph{
   text-align: center;
   font-size: 0.9rem;
  }


}